<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiyoo.sdk">

    <application>
        <activity
            android:name=".login.GoogleLogin"
            android:theme="@style/MyTranslucentTheme" />
        <activity
            android:name=".login.FacebookLogin"
            android:theme="@style/MyTranslucentTheme" />
        <activity
            android:name=".login.SdkLogin"
            android:theme="@style/MyTranslucentTheme" />
    </application>

</manifest>